<style>
  :host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>

<div
  class="board--columns__column"
  (drop)="moveToAnotherColumn($event, column.id)"
  (dragover)="dragover($event)"
  (dragend)="dragEnd()"
>
  <h2 class="heading heading__secondary sm-margin-bottom">{{ column.name }}</h2>
  <!-- TODO: CREATE directives for drag actions -->
  <div
    draggable="true"
    [ngClass]="{ dragging: isDragging }"
    (dragenter)="moveInsideColumn($event, task.id, column.id)"
    (dragstart)="dragStart($event, task.id, column.id)"
    *ngFor="let task of column.tasks; trackBy: trackByFn"
  >
    <app-task (removeTask)="removeTask(task.id, column.id)">
      {{ task.desc }}
    </app-task>
  </div>
  <app-add-new-feature (create)="createTask($event, column)">
    Add new Card
  </app-add-new-feature>
</div>
