<style>
  :host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>

<div
  class="board--columns__column"
  (drop)="moveToAnotherColumn($event, column.id)"
  (dragover)="dragover($event)"
  (dragend)="dragEnd()"
>
  <app-highlight-or-remove-feature
    className="board--columns__title"
    (removeFeature)="removeColumn.emit(column.id)"
  >
    {{ column.name }}
  </app-highlight-or-remove-feature>

  <!-- TODO: CREATE directives for Drag actions -->
  <div
    draggable="true"
    [ngClass]="{ dragging: isDragging }"
    (dragenter)="moveInsideColumn($event, task.id, column.id)"
    (dragstart)="dragStart($event, task.id, column.id)"
    *ngFor="let task of column.tasks; trackBy: trackByFn"
  >
    <app-highlight-or-remove-feature
      className="board--columns__task"
      (removeFeature)="removeTask(task.id, column.id)"
    >
      {{ task.desc }}
    </app-highlight-or-remove-feature>
  </div>
  <app-add-feature (create)="createTask($event, column)">
    Add new Card
  </app-add-feature>
</div>
