<style>
  :host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>

<div
  class="board--columns__column"
  cdkDropList
  [cdkDropListData]="column.tasks"
  (cdkDropListDropped)="drop($event)"
>
  <app-highlight-or-remove-feature
    className="board--columns__title"
    (removeFeature)="removeColumn.emit(column.id)"
  >
    {{ column.name }}
  </app-highlight-or-remove-feature>

  <div *ngFor="let task of column.tasks; trackBy: trackByFn" cdkDrag>
    <app-highlight-or-remove-feature
      className="board--columns__task"
      (removeFeature)="removeTask(task.id, column.id)"
    >
      {{ task.desc }}
    </app-highlight-or-remove-feature>
  </div>
  <app-add-feature (create)="createTask($event, column)">
    Add new Card
  </app-add-feature>
</div>
