<style>
  :host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>

<div
  class="board--columns__column"
  cdkDropList
  [cdkDropListData]="column.tasks"
  (cdkDropListDropped)="drop($event)"
>
  <h2 class="heading heading__secondary sm-margin-bottom">{{ column.name }}</h2>
  <div *ngFor="let task of column.tasks; trackBy: trackByFn" cdkDrag>
    <app-task (removeTask)="removeTask(task.id, column.id)">
      {{ task.desc }}
    </app-task>
  </div>
  <app-add-new-feature (create)="createTask($event, column)">
    Add new Card
  </app-add-new-feature>
</div>
