<header class="header">
  <h1 class="header--title">Trello</h1>
  <h2 class="header--sub-title">{{ board.name }}</h2>
</header>

<main class="board" cdkDropListGroup>
  <div class="board--columns" *ngFor="let column of board.columns">
    <div
      class="board--columns__column"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <h3 class="column--title">{{ column.name }}</h3>
      <div class="column--content" *ngFor="let task of column.tasks" cdkDrag>
        {{ task }}
      </div>
      <app-add-new-feature (create)="createTask($event, column)">
        Add new Card
      </app-add-new-feature>
    </div>
  </div>
  <app-add-new-feature (create)="createColumn($event)">
    Add New Column
  </app-add-new-feature>
</main>
