:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-family: "Lato", sans-serif;
  > * {
    padding: 4px 16px;
  }

  &--title {
    font-size: 2rem;
    color: green;
    font-weight: bold;
    background-color: rgb(29, 29, 29, 0.8);
  }

  &--sub-title {
    font-size: 1.6rem;
    color: #fff;
    background-color: rgb(grey, 0.5);
  }
}

.column {
  &--title {
    padding: 0 4px;
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 1.4rem;

    padding: 1rem 1.2rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    box-shadow: var(--shadow-default);
    word-wrap: break-word;

    overflow-y: auto;
    overflow-x: hidden;
    cursor: move;
    background-color: rgba(#fff, 0.7);
  }
}

.create-column {
  justify-content: center;
}
