<header class="header">
  <h1 class="header--title">Trello</h1>
  <h2 class="header--sub-title">{{ board.name }}</h2>
</header>

<main class="board" cdkDropListGroup>
  <div class="board--columns" *ngFor="let column of board.columns">
    <div
      class="board--columns__column column"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <h3 class="column--title">{{ column.name }}</h3>
      <div class="column--add-task"></div>
      <div
        class="column--content drag"
        *ngFor="let task of column.tasks"
        cdkDrag
      >
        <span>{{ task }}</span>
      </div>
    </div>
  </div>
</main>
