@import "../typography/typography";
@import "./flex";
@import "../utilities/utilities.scss";

.board {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  flex-grow: 1;
  overflow: auto;

  &--columns {
    display: flex;
    margin-right: 3rem;
    min-width: 35rem;
    max-width: 35rem;
    overflow: auto;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      overflow-y: scroll;
      padding: 1rem;
      background-color: rgba(#ebecf0, 0.4);
      border-radius: 4px;
      max-height: 80vh;
      max-width: 35rem;
    }

    &__title {
      @extend .heading;
      @extend .heading__secondary;
      @extend .flex-justify-content-between-align-items-center;
      @extend .sm-margin-bottom;

      span {
        font-size: inherit;
      }
    }

    &__task {
      @extend .flex-justify-content-between-align-items-center;
      background-color: rgba(#fff, 0.7);
      box-shadow: var(--shadow-default);
      font-size: 1.6rem;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      padding: 1rem 1.2rem;
      border-radius: 4px;
      margin-bottom: 0.8rem;
      cursor: move;
      overflow: auto;
      max-width: inherit;
      max-height: 10rem;
    }
  }
}
