@import '../typography/typography';
@import './flex';
@import '../utilities/utilities.scss';

.board {
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  flex-grow: 1;
  overflow-x: auto;

  &--columns {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    width: 30rem;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      padding: 1rem;
      background-color: rgba(#ebecf0, 0.4);
      border-radius: 4px;
      width: 30rem;
      overflow-y: auto;
      overflow-x: hidden;
    }

    &__title {
      @extend .heading;
      @extend .heading__secondary;
      @extend .flex-justify-content-between-align-items-center;
      @extend .sm-margin-bottom;

      span {
        font-size: inherit;
      }
    }
  }
}
